{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}管理-评论{% endblock %}


{% block content %}
    <div class="page-header">
        <h1>评论
            <small class="text-muted">{{ pagination.total }}</small>
        </h1>

        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link disabled" href="#">过滤:</a></li>
            <li class="nav-item"><a class="nav-link {% if filter_url == 'all' %}active{% endif %}"
                                    href="{{ url_for('.manage_comment', filter_url='all') }}">全部</a></li>
            <li class="nav-item"><a class="nav-link {% if filter_url == 'unread' %}active{% endif %}"
                                    href="{{ url_for('.manage_comment', filter_url='unread') }}">未读
                {% if unread_comments %}
                    <span class="badge badge-success">{{ unread_comments }}</span>
                {% endif %}
            </a></li>
            <li class="nav-item"><a class="nav-link {% if filter_url == 'admin' %}active{% endif %}"
                                    href="{{ url_for('.manage_comment', filter_url='admin') }}">作者</a></li>
        </ul>
    </div>
    {% if comments %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>序号</th>
                <th>昵称</th>
                <th>内容</th>
                <th>时间</th>
                <th>操作</th>
            </tr>
            </thead>
            {% for comment in comments %}
                <tr {% if not comment.reviewed %}class="table-warning"{% endif %}>
                    <td>{{ (pagination.page - 1) * config['BLOG_MANAGE_COMMENT_PER_PAGE'] + loop.index }}</td>
                    <td>
                        {% if comment.form_admin %}{{ admin.name }}{% else %}{{ comment.author }}{% endif %}<br>
                        {% if comment.site %}
                            <a href="{{ comment.site }}" target="_blank">{{ comment.site }}<br></a>{% endif %}
                        <a href="mailto:{{ comment.email }}">{{ comment.email }}</a>
                        {% if comment.form_admin %}
                            <span class="badge badge-primary">作者</span>
                        {% endif %}
                    </td>
                    <td>{{ comment.body }}</td>
                    <td>{{ moment(comment.timestamp).format('LL') }}</td>
                    <td>
                        {% if not comment.reviewed %}
                            <form class="inline" method="post"
                                  action="{{ url_for('.approve_comment', comment_id=comment.id, next=request.full_path) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" class="btn btn-success btn-sm">通过</button>
                            </form>
                        {% endif %}
                        <a class="btn btn-info btn-sm"
                           href="{{ url_for('blog.show_post', post_id=comment.post_id, next=request.full_path) }}">博客</a>
                        <form class="inline" method="post"
                              action="{{ url_for('.delete_comment', comment_id=comment.id) }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('确定要删除吗?');">
                                删除
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <div class="page-footer">{{ render_pagination(pagination) }}</div>
    {% else %}
        <div class="tip"><h5>没有评论</h5></div>
    {% endif %}
{% endblock %}